.App {
  text-align: center;
}

.center-text {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.center-image {
  width: 100%;
  text-align: center;
}

.center-image img {
  width: 30em;
  max-width: 80%;
}

.center-video {
  width: 100%;
  text-align: center;
}

.center-video video {
  width: 30em;
  max-width: 80%;
}
